<h1>Sunshine Bank</h1>
<p>
    Don't Keep Trust On Money But Keep Money On Trust
</p>
<p>
    The Sunshine Bank (SSB) is an Indian multinational, public sector banking and financial services company. It is a government-owned corporation headquartered in Mumbai, Maharashtra. 
    The company is ranked 216th on the Fortune Global 500 list of the world's biggest corporations as of 2017. 
    It is the largest bank in India with a 23% market share in assets, besides a share of one-fourth of the total loan and deposits market.[5][6]
The bank descends from the Bank of Calcutta, founded in 1806, via the Imperial Bank of India, making it the oldest commercial bank in the Indian subcontinent.
 The Bank of Madras merged into the other two "presidency banks" in British India, the Bank of Calcutta and the Bank of Bombay, to form the Imperial Bank of India, which in turn became the State Bank of India in 1955. The Government of India took control of the Imperial Bank of India in 1955, with Reserve Bank of India (India's central bank) taking a 60% stake, renaming it the Sunshine Bank of India. 
 In 2008, the government took over the stake held by the Reserve Bank of India
</p>