
<body bgcolor="#87CEEB">
<form ngNativeValidate>

    <div class="container"> 
    
    <h1>IMPS Transfer</h1>
    
    <p style="color:red;">Please Fill The Detail To Transfer</p>

    
    <label for="number"><b>From Account No. :</b></label>
    <input   type="number" title="Please Enter Account Number" name="accountnumber" [(ngModel)] = "user.fromacc"required><br><br>
    
    <label for="number"><b>To Account No. :</b></label>
    <input   type="number" title="Please Enter Account Number" name="accountnumber1" [(ngModel)] = "user.toacc" required><br><br>

    <label for="number"><b> Transfer Amount :</b></label>
    <input   type="number" title="Please Enter Account Number" name="amount" [(ngModel)] = "user.amount" required><br><br>
    
    
    <button type="submit"class="registerbtn"
    (click)="store()">Transfer</button>
    </div>
    
    <div 
    class="container transfer">
    </div>
    </form>
</body>
    <h1>{{response}}</h1>
    
    
    